<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">

        <p class="text-center">Please enter your email address to request a password reset. A link will be sent to your email then to reset your password!</p>

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" class="formControl" #passwordResetEmail required></ion-input>
        </ion-item> 

        <!-- Calling ForgotPassword from AuthService Api -->

        <ion-row>
          <ion-col> 
          <ion-button type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.PasswordRecover(passwordResetEmail.value)" expand="block" color = "light"> Reset Password</ion-button>
          </ion-col>
        </ion-row>

      </div>

    </div>
  </div>

</ion-content>