.divider {
    display: flex;
  
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  
  .line {
      font-size: large;
      align-items: center;
      margin: 1em -1em;
      color: #a09d9d;
  
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  } 
  
  .one-line {
    &:before,
    &:after {
       background: #a09d9d;
    }

  ion-back-button{
      display: block;
      position: fixed;
    }
  }