.ion-title{
    text-align: center;
}

ion-back-button{
    display: block;
    position: fixed;
  }

ion-card:last-of-type{
    margin-bottom: 60px;
}

img{
    display: block;
    margin: auto;
}

  